body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 20px 150px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 150%;
	font-style: italic;
}
#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

.blockType input, .blockType select, .blockType textarea{
    display: block;
    min-width: 20%;
    margin: 0 0;
    padding: 5px 20px;
    border: none;
    outline: none;
    border: 1px solid #444;
    border-radius: 5px;

}.typeText, .typePassword, .typeSelect{
    padding: 5px 0px;
    font-size: 15px;
}
.typeCheckbox{
	display: block;
	width:10px;
	position: absolute;
	left: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    padding: 5px;
    margin: 20px 0;
    border: 1px solid #707070;
}
.list tr{
    margin: 10px 0;
    width: 80px;
}
.list tr td, th{
    border: 1px solid #707070;
    padding: 5px 15px;
    text-align: center;
}
.list tr th{
    text-align: center;
}

.list tr td:first-child, .list tr:first-child{
    text-align: center;
    background-color: black;
    color: white;
}

.contentNav a{
    padding: 5px 15px;
    margin: 0 10px 0 0;
    background-color: black;
    text-decoration: none;
    color: white;
}
.buttonInForm input{
    margin-top: 20px;
    display: inline-block;
    background: black;
    color: white;
}
.buttonInForm input:hover{
	cursor: pointer;
}
.form{
    padding: 10px 50px;
}
#rButton{
	display: block;
	background-color: black;
	color: #eee;
	text-decoration: none;
	padding: 3px 8px;
	border-radius: 5px;
	text-align: center;
}
#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}


